/* ==========================
1. animation of screen bigger
============================*/
@keyframes dawn {
  0% {
    transform: translateY(-100px);
  }
  100% {
    transform: translateY(0);
  }
}
header {
  animation: dawn 1.5s 1;
}
@keyframes title {
  0% {
    transform: translateX(-100px);
    color: cyan;
  }
  50% {
    transform: translateX(150px);
  }
  70% {
    transform: translateX(-150px);
    color: cyan;
  }
  100% {
    transform: translateX(00px);
  }
}
header h1 {
  animation: title 3s 1;
}
.sub_ul,
.sub_sub {
  animation: sub 1s 1;
}
@keyframes sub {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
/* ==========================
2. animation of mobile screen
============================*/
.shw_on_click{
    animation: showon 1s 1;
}
@keyframes showon {
    0% {
      transform: translateX(100px);
      color: cyan;
      opacity: 0;
    }
    50% {
      transform: translateX(-100px);
      opacity: 0.8;
    }
 
    100% {
      transform: translateX(0);
      opacity: 1;
    }
  }
/* =========================
2.1 animation sub of div
===========================*/
.sub_div{
    animation: sub_div 1s 1;
}  
@keyframes sub_div {
    0% {
      transform: translateX(100px);
      color: cyan;
      opacity: 0;
    }
    50% {
      transform: translateX(-100px);
      opacity: 0.8;
    }
    100% {
      transform: translateX(0);
      opacity: 1;
    }
  }
/* =========================
2.2 animation sub of div
===========================*/
.sub_sub_div{
    animation: sub_sub_div 1s 1;
}
@keyframes sub_sub_div {
  0% {
    transform: translateX(100px);
    color: cyan;
    opacity: 0;
  }
  50% {
    transform: translateX(-100px);
    opacity: 0.8;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}