/*===================
table of contants 
 ===================
0. global style
1. hide_when_mobile
2. ul class .flex
      2.1 sub html css javascript
      2.2 sub_sub
3. main and footer

*/
/*===================
0. global style
 ===================*/
*{
    padding: 0;
    margin: 0;
    color: #fff;
    text-decoration: none;
    list-style: none;
    font-family: sans-serif;
    letter-spacing: 1px;
}
html{
    box-sizing: border-box;
    background-color: #f2f2f2;
}
*,*::before,*::after{box-sizing: inherit;}

header{
    /* height: 70px; */
    background-color: #1b1b1b;
    z-index: 100;
}
/*===================
1.hide_when_mobile
====================*/
.hide_when_mobile{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.flex{
    display: flex;
}
.main_list{
    padding: 10px;
    position: relative;
}
.main_link{
    padding: 8px 10px;
}
.main_link:hover{
    color: cyan;
    box-shadow:0 0 5px cyan;
}
/*===================
2.1 sub html css javascript
 ===================*/
.sub_ul{
    display: none;
    position: absolute;
    background-color: #1b1b1b;
    border-radius: 5px;
    padding:0 10px ;
    left: -20px;
    top: 38px;
    width: 150px;
    border-top:1px solid cyan;
    /* opacity: 0.8; */
}
.sub_ul li{
    padding: 8px 0;
    font-size: 15px;
    border-bottom: 1px solid #000; 
}
.sub_ul li a:hover{
    color: cyan;
    font-weight: bold;
}
.sub_of_js{
    left: 25px;
    width: 150px;
}
.main_list:hover  .sub_ul{
    display: block;
}
/*===================
2.2 sub_sub
 ===================*/
.sub_sub{
    position: absolute;
    right: -125px;
    top: 68px;
    background-color: #1b1b1b;
    border-radius: 5px;
    padding:0 10px ;
    width: 130px;
    border-top:1px solid cyan;
    display: none;
}
.mini_project:hover .sub_sub{
    display: block;
}
/*===================
3. main and footer
====================*/
main{ 
    color: #1b1b1b;
    height: calc(100vh - 95px);
}
.main_main{
    color: #1b1b1b;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    position: relative;
    top: 30vh;
    right: 30vw;
    left: 0;
    z-index: 1;
    line-height: 1.5;
}
footer{
    background-color: #1b1b1b;
    padding: 15px 0;
    text-align: center;
    font-size: 10px;
    border-radius: 20px 20px 0 0;
    animation: footered 2s infinite linear;
}
@keyframes footered{
    0%,100%{ border-radius:20px 20px 0 0 ;}
    50%{border-radius:40px 40px 0 0 ;}
}
footer h2 span{
    animation: spaned 2s infinite linear;
}
@keyframes spaned{
    0%{
        opacity: 0;
    }
    50%{
        opacity: 1;
    }
    100%{
        opacity: 0;
    }
}
/*===================
header of mobile
====================*/
.show_when_mobile{
    display: none;
}